wheel
ConfigArgParse==0.13.0
matplotlib
pandas
requests
requests-cache
scikit-learn
altair
vega
notebook
wordcloud
numpy
pillow
stop-words
matplotlib-venn
plotly
gensim==3.7.3
nltk==3.4.3
langdetect==1.0.7
pyLDAvis
dill
bubbly